:root{
  background: no-repeat  linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: 0 0;
  background-size: 500% 500%;
  height: 100%;
  width: 100%;
  animation: gradient-change 5s infinite linear;
}
/* 
body {
  margin:5px;
} */

@keyframes gradient-change {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
}